<!-- **********  RESEAUX SOCIAUX   ********** -->

<div class="jumbotron bg-dark" style="margin-top: 10rem;">
  <div class="container text-center">
    <h2 class="text-white">SUIVEZ-NOUS SUR NOS RESEAUX SOCIAUX</h2>
    <hr style="background-color:#CC0303">
    <div style="font-size:3rem">
      <i class="fab fa-facebook-square pr-2 text-white"></i>
      <i class="fab fa-instagram text-white"></i>
    </div>
  </div>
</div>


<!-- ///////////////////////////////////
                  FIN MAIN
 ///////////////////////////////////////-->



<!-- ///////////////////////////////////
                   FOOTER
 ///////////////////////////////////////-->


<footer class="container py-5">
    <div class="row ">

        <!-- ********** NOUS CONTACTER ********** -->

            <div class="col-md">
                <h5>Nous contacter</h5><br>

                <div style="font-size:1.5rem" class="mb-3">
                    <i class="fas fa-envelope display:inline-flex" style="font-size:3rem"></i>
                    <a href="onlouetout@outlook.fr" style="color:#CC0303">centreautoccas@outook.fr</a>
                </div>

                <div style="font-size:1.5rem">
                    <i class="fas fa-phone-square-alt" style="font-size:3rem"></i>
                    <a href="tel:0123456789" style="color:#CC0303" class="pb-3">01 23 45 67
                    89</a>
                </div>
            </div>

        <!-- ********** CGV / CGU ********** -->

            <div class="col-8 col-md text-right" style="margin-top:60px">
                <ul class="list-unstyled text-small">
                    <li class="pb-3  mt-10"><a class="text-muted" href="CGU.html">Conditions
                        générales</a>
                    </li>
                    <li class="pb-3"><a class="text-muted" href="Mentions légales.html">Mentions légales</a>
                    </li>
                    <li class="pb-3"><a class="text-muted" href="#">Politique de
                        confidentialité</a>
                    </li>
                </ul>
            </div>

     </div>
</footer>

<!-- ///////////////////////////////////
              FIN FOOTER
///////////////////////////////////////-->
