<!-- **********  RESEAUX SOCIAUX   ********** -->

<div class="jumbotron bg-dark">
  <div class="container text-center">
    <h2 class="text-white">SUIVEZ-NOUS SUR NOS RESEAUX SOCIAUX</h2>
    <hr style="background-color:#CC0303">
    <div style="font-size:3rem">
      <i class="fab fa-facebook-square pr-2 text-white"></i>
      <i class="fab fa-instagram text-white"></i>
    </div>
  </div>
</div>


<!-- ///////////////////////////////////
                  FIN MAIN
 ///////////////////////////////////////-->



<!-- ///////////////////////////////////
                   FOOTER
 ///////////////////////////////////////-->


<footer class="container py-5">
    <div class="row ">

        <!-- ********** NOUS CONTACTER ********** -->

            <div class="col-md">
                <h5 class="text-center">Nous contacter</h5><br>

                <div style="font-size:1.5rem" class="mb-3">
                    <i class="fas fa-envelope " style="font-size:3rem"></i>
                    <p href="onlouetout@outlook.fr" style="color:#CC0303" class="text-center">contact@locAtout.fr</p>
                </div>

                <div style="font-size:1.5rem">
                    <i class="fas fa-phone-square-alt"></i> 
                    <p href="tel:0123456789" style="color:#CC0303" class="pb-3 text-center">01 23 45 67 89</p>
                </div>
            </div>

     </div>
</footer>

<!-- ///////////////////////////////////
              FIN FOOTER
///////////////////////////////////////-->
