.btn-outline-danger{
    margin-right:10px;
}

.prixJour{
    color: #293133;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.title{
    color: #293133;
    font-size: 5rem;
}

.btn-ajout{
    margin-left: 3rem;
    font-size: 1.5rem;
}

