
<!-- Photo -->
  <div class="image_entete">
      <img src="../../../../assets/images/photo_jumbotron.jpeg" class="card-img-top "
      style=" opacity:0.8" alt="photo voiture">
        <img class="logo" src="../../../assets/images/logo.png" alt="logo">
      <h1 class="slogan" style="margin-top:1rem; color:#293133">Tout est bon dans l'occasion !</h1>
   
  </div>
 

<!-- Bloc Annonce -->
<div class="bloc_annonce">
  <section class="py-5 ">
    <div class="container">
      <h1 class="font-weight-light text-center title">Annonces</h1>
    </div>
  </section>

  <!-- Bouton ajout annonce -->
  <div class="btnAjout btnEffect ml-5">
    <a class="animated-border-button" [routerLink]="['/annonces/add']">Ajouter une annonce</a>
  </div>

  <!-- Card annonce -->
  <div class="container mt-5">
    <div class="row">
      <div *ngFor="let annonce of annonces" class="col-xl-6 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <figure class=" cardImage hover-menu">
             <img src="http://localhost:8000/images/{{ annonce.photo1 }}" alt="voiture">
            <div>
              <a [routerLink]="['/annonces/detail', annonce.id]">En voir +</a>
              <a [routerLink]="['/annonces/edit', annonce.id]">Modifier</a>
              <a (click)="deleteAnnonce(annonce.id)">Supprimer</a>
            </div>
          </figure>

          <!-- Corps de la card -->
          <div class="card-body text-center">
            <h3 class="card-title mb-0">{{ annonce.titre }}</h3><br>
            <p> {{annonce.dateCreation | date: "dd/MM/yyyy"}}</p>
            <div class="card-text prixJour">{{ annonce.prixJourLocation}} € / jour</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

